canvas {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004164,
    #006b73,
    #00935e,
    #8db338
  );
}
body,
html {
  height: 100%;
  margin: 0;
}
h2#swal2-title {
  color: rgb(41, 84, 87);
  margin: 0;
}
button.swal2-confirm.swal2-styled {
  background-image: linear-gradient(
    to right top,
    #229490,
    #37a893,
    #55ba91,
    #78cc8c,
    #a0dd86
  );
}
.swal2-modal.swal2-show {
  background-color: rgb(199, 137, 137);
  border-radius: 25px;
  box-shadow: 12px 15px 15px rgb(31, 25, 25);
}
